.svgContainer {
  position: relative;
}
.svgContainer .toolTip {
  position: absolute;
  border: 1px solid black;
  top: 0px;
  left: 0px;
  z-index: 100;
  background: white;
  max-width: 400px;
  min-width: 100px;
  padding: 10px;
  box-shadow: 2px 2px 2px #a9a9a9;
}
.svgContainer .toolTip .title {
  font-weight: bold;
  margin-bottom: 6px;
}
.svgContainer .toolTip .hour {
  font-size: 0.7em;
  margin-bottom: 10px;
}
.svgContainer .toolTip .description {
  font-size: 0.8em;
}
svg {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
svg g.mainContainer g.item rect {
  box-sizing: content-box;
  stroke: white;
  stroke-width: 5px;
  fill: darkgrey;
  opacity: 1.0;
}
svg g.mainContainer g.item text {
  font-size: 10px;
  text-anchor: start;
}
svg g.mainContainer.hovered g.item {
  opacity: 0.8;
}
svg g.mainContainer.hovered g.item.hovered {
  opacity: 1.0;
  fill: red;
}
svg g path.domain {
  fill: none;
  stroke: black;
}
svg g.tick line {
  stroke: black;
}
svg .scaleButtons {
  cursor: pointer;
}
